/* 4xs */
@media (min-width: 280px) {

}

/* 3xs */
@media (min-width: 320px) {

}

/* xxs */
@media (min-width: 375px) {

}

/* xs */
@media (min-width: 475px) {

}

/* s */
@media (min-width: 640px) {
    .container{
        top: 54%;
        left: 50%;
        margin-top: 14px;
        width: 98%;
        height: 500px;
    }
    
    .container .content{
        position: absolute;
        width: 50%;
        height: 100%;
        padding-top: 70px;
        padding: 50px;
        justify-content: space-between;
        flex-direction: column;
    }
    
    .container .text-sci{
        padding: 50px;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .content .logo{
        font-size: 30px;
    }
    
    .text-sci h2{
        font-size: 35px;
        line-height: 1;
    }
    
    .store-name{
        font-size: 25px;
        margin-bottom: 100px;
    }
    
    .welcome__span{
        font-size: 25px;
    }
    
    .text__p{
        font-size: 0.55em;
        margin: 15px 0;
    }
    
    .social-icons a i {
        font-size: 22px;
        color: var(--clr-light);
        margin-right: 10px;
        transition: .5s ease;
    }
    
    .social-icons a:hover i {
        transform: scale(1.2);
    }
    
    .container .logreg-box{
        position: absolute;
        top: 0;
        right: 0;
        width: calc(100% - 54%);
        height: 100%;
    }
    
    .logreg-box .form-box {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    
    .form-box h2 {
        font-size: 1.75em;
    }
    
    .form-box .input-box {
        width: 240px;
        height: 50px;
        margin: 30px 0;
    }
    
    .input-box input{
        width: 100%;
        height: 100%;
        font-size: 0.9em;
        color: var(--clr-light);
        padding-right: 28px;
    }
    
    .input-box label {
        top: 50%;
        left: 0;
        font-size: 0.9em;
    }
    
    .input-box input:focus~label,
    .input-box input:valid~label {
        font-size: 0.75em;
    }
    
    .input-box .icon {
        font-size: 17px;
    }
    
    .form-box .remember-forgot {
        font-size: 14px;
    }
    
    
    .remember-forgot a{
        /* font-size: ; */
        text-decoration: none;
    }
  
    .login__btn {
        width: 100%;
        height: 45px;
    }
    
    .form-box .login-register {
        font-size: 14.5px;
        margin-top: 25px;
    }
    
    .login-register p a {
       /* font-size: ; */
       text-decoration: none;
    }
    
    .login-register p a:hover {
        text-decoration: underline;
    }
}

/* m */
@media (min-width: 768px) {
    .container{
        top: 54%;
        left: 50%;
        margin-top: 14px;
        width: 98%;
        height: 500px;
    }
    
    .container .content{
        position: absolute;
        width: 50%;
        height: 100%;
        padding: 60px;
        justify-content: space-between;
        flex-direction: column;
    }
    
    .container .text-sci{
        padding: 60px;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .content .logo{
        font-size: 30px;
    }
    
    .text-sci h2{
        font-size: 35px;
        line-height: 1;
    }
    
    .store-name{
        font-size: 25px;
        margin-bottom: 100px;
    }
    
    .welcome__span{
        font-size: 25px;
    }
    
    .text__p{
        font-size: 0.64em;
        margin: 20px 0;
    }
    
    .social-icons a i {
        font-size: 22px;
        color: var(--clr-light);
        margin-right: 10px;
        transition: .5s ease;
    }
    
    .social-icons a:hover i {
        transform: scale(1.2);
    }
    
    .container .logreg-box{
        position: absolute;
        top: 0;
        right: 0;
        width: calc(100% - 54%);
        height: 100%;
    }
    
    .logreg-box .form-box {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    
    .form-box h2 {
        font-size: 1.75em;
    }
    
    .form-box .input-box {
        width: 275px;
        height: 50px;
        margin: 30px 0;
    }
    
    .input-box input{
        width: 100%;
        height: 100%;
        font-size: 1em;
        color: var(--clr-light);
        padding-right: 28px;
    }
    
    .input-box label {
        top: 50%;
        left: 0;
        font-size: 1em;
    }
    
    .input-box input:focus~label,
    .input-box input:valid~label {
        font-size: 0.85em;
    }
    
    .input-box .icon {
        font-size: 19px;
    }
    
    .form-box .remember-forgot {
        font-size: 14.5px;
    }
    
    
    .remember-forgot a{
        /* font-size: ; */
        text-decoration: none;
    }
  
    .login__btn {
        width: 100%;
        height: 45px;
    }
    
    .form-box .login-register {
        font-size: 14.5px;
        margin-top: 25px;
    }
    
    .login-register p a {
       /* font-size: ; */
       text-decoration: none;
    }
    
    .login-register p a:hover {
        text-decoration: underline;
    }
}

/* l */
@media (min-width: 1024px) {
    .container{
        top: 54%;
        left: 50%;
        margin-top: 14px;
        width: 90%;
        height: 500px;
    }
    
    .container .content{
        position: absolute;
        width: 50%;
        height: 100%;
        padding: 80px;
        justify-content: space-between;
        flex-direction: column;
    }
    
    .container .text-sci{
        padding: 80px;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .content .logo{
        font-size: 30px;
    }
    
    .text-sci h2{
        font-size: 40px;
        line-height: 1;
    }
    
    .store-name{
        font-size: 25px;
        margin-bottom: 100px;
    }
    
    .welcome__span{
        font-size: 25px;
    }
    
    .text__p{
        font-size: 0.7em;
        margin: 20px 0;
    }
    
    .social-icons a i {
        font-size: 22px;
        color: var(--clr-light);
        margin-right: 10px;
        transition: .5s ease;
    }
    
    .social-icons a:hover i {
        transform: scale(1.2);
    }
    
    .container .logreg-box{
        position: absolute;
        top: 0;
        right: 0;
        width: calc(100% - 58%);
        height: 100%;
    }
    
    .logreg-box .form-box {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    
    .form-box h2 {
        font-size: 2em;
    }
    
    .form-box .input-box {
        width: 340px;
        height: 50px;
        margin: 30px 0;
    }
    
    .input-box input{
        width: 100%;
        height: 100%;
        font-size: 1em;
        color: var(--clr-light);
        padding-right: 28px;
    }
    
    .input-box label {
        top: 50%;
        left: 0;
        font-size: 1em;
    }
    
    .input-box input:focus~label,
    .input-box input:valid~label {
        font-size: 0.85em;
    }
    
    .input-box .icon {
        font-size: 19px;
    }
    
    .form-box .remember-forgot {
        font-size: 14.5px;
    }
    
    
    .remember-forgot a{
        /* font-size: ; */
        text-decoration: none;
    }
  
    .login__btn {
        width: 100%;
        height: 45px;
    }
    
    .form-box .login-register {
        font-size: 14.5px;
        margin-top: 25px;
    }
    
    .login-register p a {
       /* font-size: ; */
       text-decoration: none;
    }
    
    .login-register p a:hover {
        text-decoration: underline;
    }
}

/* xl */
@media (min-width: 1280px) {
    .container{
        top: 54%;
        left: 50%;
        margin-top: 14px;
        width: 80%;
        height: 500px;
    }
    
    .container .content{
        position: absolute;
        width: 50%;
        height: 100%;
        padding: 80px;
        justify-content: space-between;
        flex-direction: column;
    }
    
    .container .text-sci{
        padding: 80px;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .content .logo{
        font-size: 30px;
    }
    
    .text-sci h2{
        font-size: 40px;
        line-height: 1;
    }
    
    .store-name{
        font-size: 25px;
        margin-bottom: 100px;
    }
    
    .welcome__span{
        font-size: 25px;
    }
    
    .text__p{
        font-size: 0.8em;
        margin: 20px 0;
    }
    
    .social-icons a i {
        font-size: 22px;
        color: var(--clr-light);
        margin-right: 10px;
        transition: .5s ease;
    }
    
    .social-icons a:hover i {
        transform: scale(1.2);
    }
    
    .container .logreg-box{
        position: absolute;
        top: 0;
        right: 0;
        width: calc(100% - 58%);
        height: 100%;
    }
    
    .logreg-box .form-box {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    
    .form-box h2 {
        font-size: 2em;
    }
    
    .form-box .input-box {
        width: 340px;
        height: 50px;
        margin: 30px 0;
    }
    
    .input-box input{
        width: 100%;
        height: 100%;
        font-size: 1em;
        color: var(--clr-light);
        padding-right: 28px;
    }
    
    .input-box label {
        top: 50%;
        left: 0;
        font-size: 1em;
    }
    
    .input-box input:focus~label,
    .input-box input:valid~label {
        font-size: 0.85em;
    }
    
    .input-box .icon {
        font-size: 19px;
    }
    
    .form-box .remember-forgot {
        font-size: 14.5px;
    }
    
    
    .remember-forgot a{
        /* font-size: ; */
        text-decoration: none;
    }
  
    .login__btn {
        width: 100%;
        height: 45px;
    }
    
    .form-box .login-register {
        font-size: 14.5px;
        margin-top: 25px;
    }
    
    .login-register p a {
       /* font-size: ; */
       text-decoration: none;
    }
    
    .login-register p a:hover {
        text-decoration: underline;
    }
}

/* xxl */
@media (min-width: 1536px) {
    .container{
        top: 54%;
        left: 50%;
        margin-top: 14px;
        width: 80%;
        height: 500px;
    }
    
    .container .content{
        position: absolute;
        width: 50%;
        height: 100%;
        padding: 80px;
        justify-content: space-between;
        flex-direction: column;
    }
    
    .container .text-sci{
        padding: 80px;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .content .logo{
        font-size: 30px;
    }
    
    .text-sci h2{
        font-size: 45px;
        line-height: 1;
    }
    
    .store-name{
        font-size: 30px;
        margin-bottom: 100px;
    }
    
    .welcome__span{
        font-size: 30px;
    }
    
    .text__p{
        font-size: 1em;
        margin: 20px 0;
    }
    
    .social-icons a i {
        font-size: 25px;
        color: var(--clr-light);
        margin-right: 10px;
        transition: .5s ease;
    }
    
    .social-icons a:hover i {
        transform: scale(1.2);
    }
    
    .container .logreg-box{
        position: absolute;
        top: 0;
        right: 0;
        width: calc(100% - 58%);
        height: 100%;
    }
    
    .logreg-box .form-box {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
    }
    
    .form-box h2 {
        font-size: 2em;
    }
    
    .form-box .input-box {
        width: 340px;
        height: 50px;
        margin: 30px 0;
    }
    
    .input-box input{
        width: 100%;
        height: 100%;
        font-size: 1.2em;
        color: var(--clr-light);
        padding-right: 28px;
    }
    
    .input-box label {
        top: 50%;
        left: 0;
        font-size: 1.15em;
    }
    
    .input-box input:focus~label,
    .input-box input:valid~label {
        font-size: 0.9em;
    }
    
    .input-box .icon {
        font-size: 22px;
    }
    
    .form-box .remember-forgot {
        font-size: 15px;
    }
    
    
    .remember-forgot a{
        text-decoration: none;
    }
  
    .login__btn {
        width: 100%;
        height: 45px;
    }
    
    .form-box .login-register {
        font-size: 14.5px;
        margin-top: 25px;
    }
    
    .login-register p a {
        font-size: 1em; 
        text-decoration: none;
    }
    
    .login-register p a:hover {
        text-decoration: underline;
    }
}